<!-- Upper cards in row -->

<div class="grid-container">
  <div class="card-wrapper">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
      
      <mat-card class="example-card">
        <mat-card-subtitle>Unresolved</mat-card-subtitle>
      
        <mat-card-content>
         <h2>60</h2>
         
        </mat-card-content>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-subtitle>Overdue</mat-card-subtitle>
      
        <mat-card-content>
          <h2>16</h2>
        </mat-card-content>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-subtitle>Open</mat-card-subtitle>
      
        <mat-card-content>
         <h2>43</h2>
        </mat-card-content>

      </mat-card>

      <mat-card class="example-card">
        <mat-card-subtitle>On Hold</mat-card-subtitle>
      
        <mat-card-content>
         <h2>64</h2>
         
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

 <ng-content></ng-content>

 <!--/ Upper cards in row -->

