:host{
  mat-icon{
    vertical-align: middle;
    margin-right: 20px;
  }
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

ul{
  list-style: none;
}

.sideImg{
  height: 100px;
  width: 100px;
  flex-wrap: wrap;
  image-rendering: auto;
  margin-bottom: 5px;
}
